<!DOCTYPE html>
<html lang="en" ng-app="cancerUI">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">

  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Cancer Prediction System </title>

  <!-- Bootstrap core CSS -->
  <link href="styles/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="styles/css/font-awesome.css">
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

  <!-- Custom styles for this template -->
  <link href="style.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-controller="mainController as mainCtrl">

  <div class="wrapper">
    <!--  #######$$$$$$ Header Section $$$$$$#############  -->
    <ui-view name='headerContent'></ui-view>
    <!--  #######$$$$$$ End of Header Section $$$$$$#############  -->
    <ui-view name='mainContent'></ui-view>
    <!--  #######$$$$$$ Footer Section $$$$$$#############  -->
    <ui-view name='footerContent'></ui-view>
    <!--  #######$$$$$$ End of Footer Section $$$$$$#############  -->
  </div>

  <!--  #######$$$$$$ Modal Section $$$$$$#############  -->
  <div class="modal fade " id="modal-login">
    <div class="modal-dialog custom-form">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">

          <form action="#" name="loginForm" method="POST" role="form">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="loginUser.username" placeholder="Username">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" ng-model="loginUser.password" placeholder="Password">
            </div>
            <div class="form-group center-button">
              <a class="btn" ng-click="mainCtrl.checkLogin(loginUser)" role="button">Login</a>
            </div>

            <!-- <a class="btn" href="#" role="button">Not a Member? Register yourself First!</a> -->

          </form>

        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal-register">
    <div class="modal-dialog custom-form">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Register</h4>
        </div>
        <div class="modal-body">
          <form name="formRegister" id="formRegister" action="#" method="POST" role="form">
            <div class="form-group">
              <input type="text" name="txtUsername" class="form-control" ng-model="user.name" placeholder="Name"
                required>
              <span ng-show="formRegister.txtUsername.$dirty && formRegister.txtUsername.$error.required">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;Name Required
              </span>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" name="txtEmail" ng-model="user.email" placeholder="Email"
                required>
              <span ng-show="formRegister.txtEmail.$dirty && formRegister.txtEmail.$error.required">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;Email Required
              </span>
              <span ng-show="formRegister.txtEmail.$dirty && formRegister.txtEmail.$error.email">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;Invalid Email
              </span>
            </div>
            <div class="form-group">
              <input type="password" name="txtPassword" class="form-control" ng-model="user.password" placeholder="Password"
                required>
              <span ng-show="formRegister.txtPassword.$dirty && formRegister.txtPassword.$error.required">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;Password Required
              </span>
            </div>
            <div class="form-group">
              <input type="password" name="txtConfirmPassword" class="form-control" ng-model="user.confirmPassword"
                placeholder="Confirm Password" required>
              <span ng-show="formRegister.txtConfirmPassword.$dirty && user.password !== user.confirmPassword">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;Password Not Matched
              </span>
            </div>
            <div class="form-group center-button">
              <a class="btn" href="#" role="button" ng-disabled="formRegister.$invalid" ng-click="mainCtrl.checkRegister(user)">Register</a>
              <a class="btn" href="#" role="button" ng-click="mainCtrl.resetRegister(user)">Reset</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="message_box">
    <div class="modal-dialog custom-form">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="message_title">Modal title</h4>
        </div>
        <div class="modal-body" id="message_details">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

  

  <!--  #######$$$$$$ End of Modal Section $$$$$$#############  -->

  <!-- Bootstrap core JavaScript     ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- <script src="scripts/jquery.min.js"></script> -->
  <script src="scripts/jquery.easing.min.js"></script>
  <!-- <script src="scripts/angular.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular-route.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.18/angular-ui-router.js"></script> -->
  <script src="scripts/angular-ui-router.js"></script>
  <!-- <script src="scripts/angular-ui-router-title.js"></script> -->
  <script>
    /* window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>') */
  </script>
  <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase.js"></script>
  <!-- <script src="scripts/firebase.js"></script> -->
  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
  <!-- <script src="scripts/angularfire.min.js"></script> -->

  <script src="scripts/bootstrap.js"></script>
  <script src="scripts/ui-bootstrap.min.js"></script>
  <script src="scripts/ui-bootstrap-tpls.min.js"></script>
  <script src="scripts/Chart.js"></script>
  <script src="scripts/angular-chart.js"></script>
  <script src="script.js"></script>
  <script src="models/userService.js"></script>
  <script src='models/providerService.js'></script>
  <script src='models/filters.js'></script>
  <script src='models/cancerData.js'></script>

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
</body>

</html>