/* reset style */
html{
  padding: 0;
  margin:0;
  height: 100%;
  
}
body{
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Lora', serif;
}

.wrapper {
  min-height: 100%;
  position: relative;
}
/* #######======== Header Section =============########## */
/* top navigation */
.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav .topnav li {
    float: none;
    display: inline-block;
}

.header-center {
  height: 100px;
  line-height: 100px;
  margin-top: 10px;
}

/* header logo */
.imgLogo {
  width: 125px;
  height: auto;
  padding-left: 25px;
}

/* header social icons */
.social-icon {
  background-color: #00adef;
  color: #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 10px;
  margin-left: 11px;
}

.social-icon:hover {
  background-color: #4fe0f9;
  /* color: #855fa8; */
  color: #ffffff;
}

/* header CTA buttons ( Login and Registration) */
.cta-button {
  padding: 5px 10px;
  margin: 5px;
  background-color: #00adef;
  color: #ffffff;
  font-size: 16px;
}
.cta-button:hover,
.cta-button:active,
.cta-button:focus {
  background-color: #4fe0f9;
  color: #ffffff;
}

/* header navigation bar */

.navbar-menu {
  /* background-color: #f8f400; */
  background: linear-gradient(to right, #1e5799 0%, #00adef 0%, #ad71f2 100%, #7db9e8 100%);
}

.navbar-menu .navbar-nav li a {
/* color: #855fa8; */
color: white;
}

.navbar-menu .navbar-nav>li>a:focus,
.navbar-menu .navbar-nav>li>a:hover {
  background-color: #4fe0f9;
  color: #ffffff;
  
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: #4fe0f9;
  color: #ffffff;
}
.nav-link{
  color: #ffffff;
}
/* #######======== End of Header Section =============########## */

/* #######======== Main content Section =============########## */
.main-content {
  padding-bottom: 175px;
}

/* #######======== End of Main Content Section =============########## */

/* #######======== carousel Section =============########## */
.slider-data {
  margin-top: -10px;
}

#my-carousel .carousel-inner .item a img,
#my-carousel .carousel-inner .item img {
  width: 100%;
  height: 540px;
}

/* #######======== End of carousel Section =============########## */

/* #######======== blockquotes Section =============########## */
.bs-callout {
  margin-top: 5px;
}
.bs-callout {
  padding: 30px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-radius: 3px;
}

.bs-callout-info {
  border-left-width: 5px;
  border-left-color: #00adef;
}
.bs-callout-danger {
  border-right-width: 5px;
  border-right-color: lightcoral;
}
.hover-text-title {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 15px;
}
.hover-text-content {
  font-size: 15px;
  text-align: justify;
}
.hover-text-content ul li {
  font-size: 15px;
}


/* #######======== End of Blockquotes Section =============########## */

/* #######======== Three Section images on hover text =============########## */
.hover-data {
  position: relative;
}

.hover-data img {
  opacity: 1;
  display: block;
  width: 100%;
  height: 350px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.hover-data .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  text-align: center;
}

/* .hover-data:hover img {
  opacity: 0.3;
} */

.hover-data:hover .middle {
  opacity: 1;
}

/* #######======== End of Three Section images on hover text =============########## */

/* #######======== CTA button for new test =============########## */
.test-button {
  margin-bottom: 20px;
}
.btn-yellow {
  background-color: #4fe0f9;
  color: #ffffff;
}
.btn-yellow:hover {
  background-color: #00adef;
  color: #ffffff;
}
/* #######======== End of CTA button for new test =============########## */

/* #######======== Footer Section =============########## */
.my-footer {
  background-color: #00adef;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  clear: both;
  height: 175px;
}

/* footer nav section */
.my-footer ul {
  list-style: none;
}
.my-footer ul li {
  margin-top: 10px;
}
.my-footer ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
}

/* footer logo and social button section */
.footer-social-icon i {
    background-color: #4fe0f9;
    color: #ffffff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 7px;
}

.my-footer img {
  width: 100px;
  height: auto;
  margin: 10px auto;
  border-radius: 50%;
  box-shadow: 0 9px 15px 1px rgba(0, 0, 0, 0.4);
}

/* footer copyright section */
.copyright-text {
  text-align: right;
  margin-top: 85px;
  padding: 10px;
}
/* #######======== End of Footer Section =============########## */


/* #######========  modal Section =============########## */

.custom-form {
  width: 300px;
}
.custom-form .modal-content {
  border-radius: 0%;
}
.custom-form .modal-title {
  text-align: center;
  color: #00adef;
}

.custom-form .form-control {
  
      border: none;
      border-bottom: 2px solid #00adef;
      outline: none;
      background: transparent;
}
.custom-form .form-control:focus {
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075),
  0 0 8px #00adef;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075),
  0 0 8px #00abef2c;
}

.center-button{
  text-align: center;
}
.center-button a {
  border:1px solid #00adef;
  border-width: 2px;
}
.center-button a:hover,
.center-button a:focus {
  background-color: #00adef;
  color: #eee;
}
input {
  outline: none;
}
::-webkit-input-placeholder {
  /* Chrome */
  color: red;
  transition: opacity 250ms ease-in-out;
}

:focus::-webkit-input-placeholder {
  opacity: 0.5;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: red;
  transition: opacity 250ms ease-in-out;
}

:focus:-ms-input-placeholder {
  opacity: 0.5;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: red;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

:focus::-moz-placeholder {
  opacity: 0.5;
}

:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: red;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

:focus:-moz-placeholder {
  opacity: 0.5;
}

#formRegister span{
  color: red;
}

/* #######======== End of modal Section =============########## */

/* #######======== Test Page Section =============########## */

/* 
 * Question and options sections 
*/
.questionDiv{
  border: 1px solid #ccc;
  border-top-color: transparent;
  padding: 10px;
  float: left;
  width: 100%;
}
.optionName{
  float: left;
  width: 100%;
  text-align: left;
  font-weight: 700;
}
.optionsDiv {
  width: 40%;
  float: left;
  /* font-weight: 700; */
  text-align: left;
  margin-left: 10px;
  padding: 5px;
}
.symptomsDiv{
  width: 60%;
  margin-left: 50px;
}
.options{
  float: left;
  width: 50%;
  padding: 10px 0;
}
/* ========================================= */
.organ-side-nav {
  border: 1px solid gray;
  padding: 0;
  width: 25%;
}

.organ-side-nav ul li {
  border-radius: 0px;
  width: 100%;
}

.organ-side-nav ul li a{
  background-color: #00adef;
  color: #ffffff;
  border-radius: 0;
}

.organ-side-nav li.active a,
.organ-side-nav li.active a:focus,
.organ-side-nav li.active a:hover {
  background-color: #ffffff;
  color: #00adef;
}
.organ-side-nav li a,
.organ-side-nav li a:focus,
.organ-side-nav li a:hover {
  background-color: #ffffff;
  color: #00adef;
}

#msform {
  margin: 50px auto;
  text-align: center;
}

#msform fieldset {
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative; 
}
 
/*Hide all except first fieldset*/

 #msform fieldset:not(:first-of-type) {
  display: none;
} 
/*inputs*/

#msform input,
#msform textarea {
  padding: 15px;
  border: 1px solid #000;
  border-radius: 3px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}

/*buttons*/

 #msform .action-button {
  width: 100px;
  background: #00adef;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
} 

/*headings*/

 .fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
} 

/*progressbar*/

 #progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
} 

#progressbar li {
  list-style-type: none;
  color: #00adef;
  text-transform: uppercase;
  font-size: 13px;
  width: 23%;
  float: left;
  position: relative;
  background-color: #00adef;
  padding: 10px;
  margin-left: 15px;
color: #ffffff;
 /*  position: relative; */
}

#progressbar li:before {
  content: counter(step);
  /* counter-increment: step; */
  width: 16px;
  line-height: 16px;
  display: block;
  /* font-size: 10px; */
  color: #00adef;
  background: #00adef;
  border-radius: 3px;
  margin: 0 auto 5px auto;
  float: right;
  border-radius: 50px;;
}
 
/*marking active/completed steps green*/

/*The number of the step and the connector before it = green*/

#progressbar li.active:before,
#progressbar li.active:after {
  background: #ffffff;
  color: transparent;
  border-radius: 50px;
  float: right;
  width: 15px;
  height: 15px;
  margin-left: 5px;
}
 
.progressbar {
  height: 5px;
  background: #96d1fc;
}
.progressbar .progressbarLine {
  background: #00adef;
}
/* #######======== End of Test Page Section =============########## */


/* #######======== Result Page Section =============########## */
.resultContainer {
  box-shadow: 0 10px 15px 1px rgba(0, 0, 0, 0.4);
  padding: 25px;
  color: #855fa8;
  text-align: justify;
  border-top-color: #00adef;
  border-top-width: 10px;
  border-top-style: solid;
}
.resultContainer h2 {
  font-weight: bolder;
}
.headerMessage h2 {
  text-align: center;
}
.headerMessage h2 i {
  font-size: 36px;
}
/* .resultNote {
  
  background-color: #00adef;
  color: #ffffff;
  padding: 10px 150px;
  font-size: 20px;
} */
.resultNote h2 {
  color: red;
}
.resultForm {
  margin: 20px;
}
.resultDetails {
  float: left;
}
/* 
.recommend {
  
} */
.recommend p {
  font-size: 18px;
}
.disclaimer {
  color: #855fa8;
  margin-bottom: 30px;
  margin-top: 50px;
  text-align: justify;
}
.disclaimer p {
  padding-left: 30px;
}
.disclaimer h2 {
  padding-left: 10px;
  font-weight: bolder;
}
.printOption {
  margin-top: 10px;
}
.congratulateFont {
  font-weight: 700;
  font-size: 2rem;
}
.dangerBigFont {
  font-weight: 700;
  font-size: 2rem;
  color: rgba(245, 2, 2, 0.904);
}
.rememberContent {
  font-weight: 700;
}
/* #######======== End of Result Page Section =============########## */
/* ######========= Tester Dashboard Section ===============######### */

.welcome-text{
  font-size: 16px;
  margin-top: 12px;
  color: #ffffff;
}

.panel-box {
  margin-right: 2px;
}

/* ######========= End of Tester Dashboard Section ===============######### */
/* ######========= Admin Dashboard Section ===============######### */
/* .chart-section{
   border: 1px solid #ccc; 
  
} */
.chart-section canvas{
  border: 1px solid #ccc;
  padding: 5px;
}
.detail-section{
  text-align: center;
  margin-top: 90px;
}

/* ######========= End of Admin Dashboard Section ===============######### */

/* ######========= About us Section ===============######### */

/* .about-section {

} */
.about-section h1 {
  text-decoration: underline;
}
.about-section {
  text-align: justify;
}
.research {
  margin-top: 15px;
  font-size: 14px;
  color: #00adef;
  font-weight: bolder;
  font-style: italic;
}
.terms {
  margin-top: 30px;
  text-align: center;
  text-decoration: underline;
}
.about-tagline {
  /* font-family: cursive; */
  color: #00adef;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 10px;
}
.tagline-heading {
  font-weight: bold;
  color: #855fa8;
  text-decoration: underline;
  font-size: 20px;
}

.contact-section {
  margin-top: 50px;
  margin-bottom: 20px;
}
.contact-section h1 {
  text-decoration: underline;
}
/* .contact-section p {

} */
/* .contact-section span {

} */
.contact-section img {
  width: 48px;
  height: 48px;
  padding: 5px;
}
.contact-ask {
  font-weight: bolder;
}

/* ######========= End of About us Section ===============######### */