<div class="main-content">
<div class="container">
  <div class="row">
    <div class="col-md-6 chart-section">
      <h2>Bar chart</h2>
      <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series"></canvas>
    </div>
    <div class="col-md-6 detail-section">
    <h2>Statistical Analysis of Types of Cancer</h2>
          It shows statistical analysis of various types of cancer.
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 detail-section">
<h2>Cancer Risk Level Estimation</h2>
      It shows cancer risk level estimation.
    </div>
    <div class="col-md-6 chart-section">
      <h2>Doughnut chart</h2>
      <canvas id="bar" class="chart chart-doughnut" chart-data="doughnutdata" chart-labels="doughnutlabels"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 chart-section">
      <h2>Pie chart</h2>
      <canvas id="bar" class="chart chart-pie" chart-data="piedata" chart-labels="pielabels" chart-options="pieoptions"></canvas>
    </div>
    <div class="col-md-6 detail-section">
<h2>Gender wise Cancer Risk Assessment</h2>
      It shows gender wise cancer risk assessment.
    </div>
  </div>
    <!-- <div class="col-md-6 chart-section">
      <h2>Horizontal Bar chart</h2>
      <canvas id="bar" class="chart chart-horizontal-bar" chart-data="horizontalbardata" chart-labels="horizontalbarlabels" chart-series="horizontalbarseries"></canvas>
    </div> -->
  </div>
</div>