<div class="container-fluid my-footer">
  <div class="row">
    <div class="col-md-4">
      <ul class="">
        <li>
          <a ui-sref="home" ui-sref-active='active'>Home</a>
        </li>
        <li>
          <a ui-sref="aboutcontact" ui-sref-active='active'>About & Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <img src="images/Logo_design_2_trans.png" class="img-responsive text-center" alt="Image">
      <div class="footer-social text-center footer-social-icon">
        <i class="fa fa-facebook fa-1x"></i>
        <i class="fa fa-twitter fa-1x"></i>
        <i class="fa fa-linkedin fa-1x"></i>
      </div>
    </div>
    <div class="col-md-4">
      <p class="copyright-text">copyright</p>
    </div>
  </div>
</div>