<div class="container main-content">
  <div class='about-section'>
    <h1>About Us</h1>
    <div class='about-tagline'>
      <span class="tagline-heading">Mission:</span> Early prediction of cancer leads, conducts, and supports cancer research across to advance scientific knowledge and help all people live longer, healthier lives.
    </div>
    <p>We believe that this prediction system can make a variation in the fight against cancer then we will award a grant to make it happen.</p>
    <p>Our vision is to present the day when all cancers are cured. Our desire is to speed up the progress and predict the cancer disease at an early stage so that it will increase the survival rate of the patient. Our technique will give the foundations to the society that we have to handle the difficulties ahead.</p>
    <p>It’s important to remember that cancer is not one disease – it’s more than 200. Medicines that work for some cancers don't work for others and sometimes those medications basically stop working.</p>
    <p>Just overall research will improve our comprehension of cancer and help us find and grow better, more viable medicines. Furthermore, just a worldwide search for answers will enable us to get to grasps with this disease.</p>
    <p>This prediction system is easy to understand, interactive calculator is developed which will be used by general users or physicians. It will assist you to gain a good understanding of your level of risk for various cancer and risk factors that causes cancer.</p>
    <p>The questioner in this test incorporate the most critical hazard factors for various cancer based on review various literature of research.</p>
    <p>Each extraordinary prediction system of overcoming adversity begins with a solitary thought and in this issue of Scope we portray three unique procedures being produced at this prediction system for treating cancer. Only time will tell if they make it through the years of rigorous testing to wind up standard treatments utilized in the facility, yet that is the idea of fundamental research, and it is a journey we are altogether committed to seeing all the way to finish.</p>
    <p>The test just takes a couple of seconds to calculate the risk level, and the related risk factor is clarified and recommendation is given as per the result.</p>
    <p>Remember that the result of this test does not a guarantee of your risk levels, and that all who are testing are at risk for cancer, no matter what their risk category. Some people at increased risk never develop cancer, and some people at low risk may develop the disease</p>
    
    <h4 class='research'> RESEARCH SHOWS:</h4>
    <ul>
      <li>Leads research efforts to improve cancer prevention, detection, diagnosis, and survivorship.</li>
      <li>Focus on prevention.</li>
      <li>Take action to promote changes in lifestyle.</li>
      <li>Provide important information that can help GP or Oncologists.</li>
    </ul>
  
    <h4 class='terms'>TERMS OF USE</h4>
    <p>This risk source has been created to assist you realize your level of risk for various type of cancer. Factors
    affecting risk for cancer are very complex, and anyone may or may not develop cancer regardless of his/her level of risk. This resource will assist you to understand more about risk factors for cancer, which risk factors you can impact, and what to do about them. Your risk and prediction of cancer is not expected to give medical advice, or to replace medical examinations or the counsel or finding of a specialist or health professional. Person concerned about their risk should g through the test.</p>
  </div>
  <div class='contact-section'>
  <h1>Contact Us</h1>
  <p class='contact-ask'>How Can We Assist You?</p>
  <p>We would like to hear from our users! Maybe you have a question about your health, related to cancer disease or perhaps you simply need some help. We are here for you, so feel free to reach out and contact us.</p>

  <span><img src='../images/icons8-email-64.png' alt='' class='image-responsive' /></span>Email: <a href="mailto:cancerriskawareness@gmail.com">cancerriskawareness@gmail.com</a>
  </div>
</div>
