<!-- Navbar with logo, social links and login and register buttons -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 header-center">
        <img src="images/Logo_design_2_trans.png" alt="Cancer Prediction System" srcset="" class="imgLogo">
      </div>
      <div class="col-md-4 text-center header-center">
        <i class="fa fa-facebook fa-2x social-icon"></i>
        <i class="fa fa-twitter fa-2x social-icon"></i>
        <i class="fa fa-linkedin fa-2x social-icon"></i>
      </div>
      <div class="col-md-4 ">
        <form class="navbar-form header-center pull-right">
          <a class="btn cta-button" data-toggle="modal" ng-click="mainCtrl.loginModal()">Login</a>
          <a class="btn cta-button" data-toggle="modal" ng-click="mainCtrl.registerModal()">Register</a>
        </form>
      </div>
    </div>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </div>

  <!-- navbar for nav menu links -->
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-menu" id="bs-example-navbar-collapse-1">
    <div class="container-fluid">
      <div class="col-md-9">
        <ul class="nav navbar-nav">
          <li ui-sref-active="active">
            <a ui-sref="home">Home</a>
          </li>
          <li ui-sref-active='active'>
            <a ui-sref="aboutcontact">About & Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <p class="navbar-text pull-right">
          <!-- <a ui-sref="tester_dashboard.test" class="nav-link">Get a Free Test Now</a> -->
        </p>
      </div>
    </div>
    <!--  /.container-fluid -->
  </div>
  <!--  /.navbar-collapse-->
</nav>