<!--  #######$$$$$$ Home Page Section $$$$$$#############  -->
<div class="main-content slider-data">
  <!-- carousel with 4 images and text and images over it -->

  <div id="my-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#my-carousel" data-slide-to="1" class=""></li>
      <li data-target="#my-carousel" data-slide-to="2" class=""></li>
      <li data-target="#my-carousel" data-slide-to="3" class=""></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <img data-src="" alt="First slide" src="images/awareness-cancer-design-579474.jpg" />
        <!-- <div class="container">
          <div class="carousel-caption">
            <h1>Example headline.</h1>
                      <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
            <p>
              <a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a>
            </p>
          </div>
        </div> -->
      </div>
      <div class="item">
        <img data-src="" alt="Second Slide" src="images/cc4.jpg">
        <!-- <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
              Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p>
              <a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a>
            </p>
          </div>
        </div> -->
      </div>
      <div class="item">
        <img data-src="" alt="Third slide" src="../images/hands-showing-cancer-balloons-word_53876-21078.jpg">
        <!-- <div class="container">
          <div class="carousel-caption">
            <h1>One more for good measure.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
              Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p>
              <a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a>
            </p>
          </div>
        </div> -->
      </div>
      <div class="item">
        <img data-src="" alt="Fourth slide" src="../images/prevent-diagnostic-disorder-health-illness-sick_53876-21237.jpg">
        <!-- <div class="container">
          <div class="carousel-caption">
            <h1>One more for good measure.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
              Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p>
              <a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a>
            </p>
          </div>
        </div> -->
      </div>
    </div>
    <a class="left carousel-control" href="#my-carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#my-carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>


  <!-- Blockquotes with some message -->
  <div class="container">
    <div class="bs-callout bs-callout-info" id="callout-glyphicons-location">
      <h4 class='hover-text-title'>USING RISK ASSESSMENT TOOLS</h4>
      <p class="text-left hover-text-content">
        This online cancer prediction tool is available to help you and your health care provider better
        understand your cancer risk and inform your decision-making about cancer risk reduction as well
        as screening options for the earlier detection of cancer. 
        No tool can predict whether or not you will develop cancer. However, risk prediction tool can
        assist you gain a more thorough understanding of what kind of cancer risk factors are and how
        they affect on your health. Risk assessment tools use your risk factors to estimate your personal
        risk of developing cancer.
        This tool has strengths and limitations. Most importantly, no single tool can consider all of the
        known cancer risk factors into account.  This means that prediction tool can only provide an
        estimation of risk based on the risk factors it assesses. This tool helps in understanding the
        personal cancer risk and need to reduce the risk at an early stage.
        <!-- <footer class="pull-right">
          <cite title="Source Title">--Source Title</cite>
        </footer> -->
      </p>
    </div>
  </div>

  <!-- 3 column for cancer images and details on hover -->
  <div class="container">
    <div class="row">
      <div class="col-md-4 hover-data">
        <img src="images/08-01.jpg" class="img-responsive" alt="Image">
        <br />
        <br />
        <!-- <div class="middle">
          <button type="button" class="btn btn-info">button</button>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ipsum, ab aliquid numquam vero sit vel
            atque aliquam
            saepe voluptas veritatis cumque doloremque dicta ad rerum eius assumenda distinctio molestias?</p>
        </div> -->
      </div>
      <div class="col-md-4 hover-data">
        <img src="images/close-view-of-a-cancer-cell.jpg" class="img-responsive" alt="Image">
        <br />
        <br />
        <!-- <div class="middle">
          <button type="button" class="btn btn-info">button</button>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ipsum, ab aliquid numquam vero sit vel
            atque aliquam
            saepe voluptas veritatis cumque doloremque dicta ad rerum eius assumenda distinctio molestias?</p>
        </div> -->
      </div>
      <div class="col-md-4 hover-data">
        <img src="images/flat-world-cancer-day-background_23-2147733583.jpg" class="img-responsive" alt="Image">
        <br />
        <br />
        <!-- <div class="middle">
          <button type="button" class="btn btn-info">button</button>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ipsum, ab aliquid numquam vero sit vel
            atque aliquam
            saepe voluptas veritatis cumque doloremque dicta ad rerum eius assumenda distinctio molestias?</p>
        </div> -->

      </div>
    </div>
  </div>

  <!-- about section for cancer information -->
  <div class="container">
    <div class="bs-callout bs-callout-danger" id="callout-glyphicons-location">
      <h4 class='hover-text-title'>Risk Prediction Tools</h4>
      <p class="text-left hover-text-content">
        Cancer Prediction System is an instructive website with a risk assessment tool that allows you to
        predict your risk for developing cancer. The tool estimates your cancer risk as being “High,”
        “Medium,” or “Low”, based on a set of cancer risk factors.<br />
        Prediction Tool considers the following factors to assess cancer risk:
        <ul class="hover-text-content">
          <li>Personal history, habits like smoking, alcohol consumption, chewing tobacco</li>
          <li>
            Contaminated Food that causing cancer, diet or physical activity
          </li>
          <li>
            Symptoms of various cancer
          </li>
        </ul>
        <p class="hover-text-content">Limitation</p>
        <ul class="hover-text-content">
          <li>
            The model considers limited information about family cancer history, which could
            underestimate risk.
          </li>
          <li>
            It does not include several cancer-specific risk factors, such as use of hormone
            replacement therapy or age at menopause or gene expression.
          </li>
        </ul>
        <p class="hover-text-content">The Cancer Prediction online tool estimates a person’s risk of developing cancer.</p>
      </p>
    </div>
  </div>

  <!-- section for get free test now button  -->
  <div class="container test-button">
    <div class="row">
      <div class="col-md-12 text-right">
        <!-- <a class="btn btn-default btn-yellow" ui-sref="" role="button">Get Free Test Now</a> -->
      </div>
    </div>
  </div>
</div>
<!--  #######$$$$$$ End of Home Page Section $$$$$$#############  -->