<div class="container main-content">
  <div id="printResult" class="resultContainer">
    <div class="headerMessage">
      <h2>Your Result
        <span>
          <i class="fa fa-check-circle text-success" ng-if="resCtrl.final == 'Low'" aria-hidden="true"></i>
          <i class="fa fa-exclamation-circle text-warning" ng-if="resCtrl.final == 'Medium'" aria-hidden="true"></i>
          <i class="fa fa-times-circle text-danger" ng-if="resCtrl.final == 'High'" aria-hidden="true"></i>
        </span>
      </h2>
    </div>
    <div class="resultForm" ng-If="resCtrl.final == 'High' || resCtrl.final == 'Medium'">
      <p class="resultDetails">
        <span class="dangerBigFont">Think once more!</span> The answers you've given in the test suggest that you have a <b>{{resCtrl.final}}</b>
        baseline risk for developing <b>{{resCtrl.Organ}}</b>
        cancer. That means you have up to an <b>{{resCtrl.percentage}}%</b> chance of developing 
        <b>{{resCtrl.Organ}}</b>
        cancer in
        your lifetime. That may sound scary, but
        remember, knowledge is power. You've already taken the first step towards managing your risk!
      </p>

      <p><strong>Suggestion: </strong>You should go for <b>{{resCtrl.organTests}}</b> test.</p>
      <div class="recommend">
        <h2>Recommendation</h2>
        <ul>
          <li>Avoiding excessive sun exposure and solaria.</li>
          <li>Wearing sunscreen and protective clothing to lower your risk of cancer.</li>
          <li>Quitting smoking is the best thing you can do to lower your risk of cancer.</li>
          <li>Limit your intake to no more than two standard drinks each day.</li>
          <li>A balanced diet that includes fruits, vegetables and other foods containing dietary fiber may protect
            against certain cancers.</li>
          <li>Aiming for at least 30 minutes of moderate-intensity physical activity every day.</li>
        </ul>
      </div>
      <div class="resultNote">
        <h2>Note:</h2>
        <p>Kindly visit to your general physician or visit oncologist of TATA Memorial Hospital, Mumbai to talk about
          your risk of cancer.</p>
      </div>
    </div>
    <div class="resultForm" ng-if="resCtrl.final == 'Low'">
      <p><span class="congratulateFont">Congratulation!</span> The answers you've given in the test suggest that you have a <b>{{resCtrl.final}}</b> baseline
        risk
        for developing <b>{{resCtrl.Organ}}</b> cancer. That means you have up to a <b>{{resCtrl.percentage}}%</b>
        chance of
        developing <b>{{resCtrl.Organ}}</b> cancer in your lifetime. That may sound scary, but remember, knowledge is
        power.
        You've already taken the first step towards managing your risk!</p>
      <p class="rememberContent">Remember: LOW Risk doesn’t mean NO Risk!!!</p>
      <p ng-if="resCtrl.Organ != 'any type of'">
        <strong>Suggestion: </strong>You should go for <b>{{resCtrl.organTests}}</b> test.
      </p>
      <div class="recommend">
        <h2>Recommendation</h2>
        <ul>
          <li>Avoiding excessive sun exposure and solaria.</li>
          <li>Wearing sunscreen and protective clothing to lower your risk of cancer.</li>
          <li>Quitting smoking is the best thing you can do to lower your risk of cancer.</li>
          <li>Limit your intake to no more than two standard drinks each day.</li>
          <li>A balanced diet that includes fruits, vegetables and other foods containing dietary fiber may protect
            against certain cancers.</li>
          <li>Aiming for at least 30 minutes of moderate-intensity physical activity every day.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="printOption">
    <span class="btn btn-success cta-button pull-right" ng-click="resCtrl.printDoc('printResult')">Print</span>
  </div>
  <div class="disclaimer">
    <h2>Disclaimer</h2>
    <p>Your risk of cancer is not intentional to provide medicinal advice, or to replace medical examinations or the
      counsel or diagnosis of a doctor or health professional.</p>
    <p>Your risk of cancer cannot forecast if you will develop any cancer. It estimates your risk based on facts
      derived from large-scale questioner on cancer and the information given by you, and provides suggestion for
      reducing risk based on data provided by high-quality research. However, your health is exaggerated by many other
      factors.</p>
    <p>The information provided in cancer prediction test is intended for enlightening and reference purposes only and
      does not contain comprehensive information about all risk factors for developing cancer.</p>
  </div>
</div>