<div class="main-content">
  <div class="container">
    <div class="panel col-md-4" ng-if="testerdashCtrl.count != 0" ng-class="{'panel-success': value.testresult == 'Low','panel-warning': value.testresult == 'Medium','panel-danger': value.testresult == 'High'}"
      ng-repeat="(key,value) in testerdashCtrl.userData">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Date : {{key | date}}</h3>
      </div>
      <div class="panel-body text-center">
        <h4>Test Result :
          <b ng-class="{'text-success': value.testresult == 'Low','text-warning': value.testresult == 'Medium','text-danger': value.testresult== 'High'}">{{value.testresult}}</b>
        </h4>
      </div>
    </div>
    <div class="panel panel-info" ng-if="testerdashCtrl.count == 0">
      <div class="panel-heading">
        <h3 class="panel-title">No Test Record Available</h3>
      </div>
      <div class="panel-body">
        <h4>You have not give any test till now.
          <a ui-sref="tester_dashboard.test">Click Here </a> to start test now. </h4>
      </div>
    </div>
  </div>
</div>