<div class="container my-test-form main-content" ng-init="testCtrl.initializeInformation()">
  <!-- multistep form -->
  <div class="row">
    <div class="col-md-12">

      <div ng-switch="testCtrl.stepForm">
        <form id="msform">
          <!-- progressbar -->
          <ul id="progressbar">
            <li ng-class="{active: testCtrl.stepForm == 'Personal Information'}">Personal Information</li>
            <li ng-class="{active: testCtrl.stepForm == 'Life Style'}">Life Style</li>
            <li ng-class="{active: testCtrl.stepForm == 'Eating Habit'}">Eating Habit</li>
            <li ng-class="{active: testCtrl.stepForm == 'Symptoms'}">Symptoms</li>
          </ul>
          <!-- fieldsets -->
          <div class="progress progressbar">
            <div class="progress-bar progressbarLine" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="5" ng-style="testCtrl.percentage ">
            </div>
          </div>
          <fieldset ng-switch-when="Personal Information">
            <!-- <h2 class="fs-title">About Yourself</h2>
            <h3 class="fs-subtitle">Personal Details About yoursef</h3> -->
            <div class="questionSection">
              <div class="questionDiv">
                <div class="optionName">Name</div>
                <div class="optionsDiv">{{testCtrl.username}}</div>
              </div>
              <div class="questionDiv" ng-repeat="question in testCtrl.riskFactors" ng-if="question.tab == 'Personal Information'">
                <div class="optionName">{{question.text}}</div>
                <div class="optionsDiv">
                  <div class="options" ng-repeat="option in question.selected" ng-if="question.type == 'radio'">
                    <input type="radio" name="{{question.group}}" ng-value="{{question.group}}_{{option.answer | replaceSpaceToUnderscore}}"
                      ng-checked="{{option.value}}" ng-click="testCtrl.getRadioValue(question.group,option.answer)" />
                    <label for="{{option.answer | replaceSpaceToUnderscore}}"></label>
                    {{option.answer}}
                  </div>
                  <div class="options" ng-repeat="option in question.selected" ng-if="question.type == 'check'">
                    <input type="checkbox" ng-value="{{option.answer | replaceSpaceToUnderscore}}" ng-model="option['value_' + $index]" ng-click="testCtrl.toggleSelection(question.group,option.answer,$index)"
                    />
                    <label for="{{option.answer | replaceSpaceToUnderscore}}"></label>
                    {{option.answer}}
                  </div>
                   <!-- <pre>{{question.final}}</pre>  -->
                </div>
              </div>
            </div>
            <input type="button" name="next" class="next action-button" value="Next" ng-click="testCtrl.lifeStyleForm()" />
            
          </fieldset>
          <fieldset ng-switch-when="Life Style">
            <!-- <h2 class="fs-title">Personal Details</h2>
            <h3 class="fs-subtitle">We will never sell it</h3> -->
            <div class="questionSection">
              <div class="questionDiv" ng-repeat="question in testCtrl.riskFactors" ng-if="question.tab == 'Life Style'">
                <div class="optionName">{{question.text}}</div>
                <div class="optionsDiv">
                  <div class="options" ng-repeat="option in question.selected" ng-if="question.type == 'radio'">
                    <input type="radio" name="{{question.group}}" ng-value="{{option.answer | replaceSpaceToUnderscore}}" ng-checked="{{option.value}}"
                      ng-click="testCtrl.getRadioValue(question.group,option.answer)" />
                    <label for="{{option.answer | replaceSpaceToUnderscore}}"></label>
                    {{option.answer}}
                  </div>
                  <div class="options" ng-repeat="option in question.selected" ng-if="question.type == 'check'">
                    <input type="checkbox" ng-value="{{option.answer | replaceSpaceToUnderscore}}" ng-model="option['value_' + $index]" ng-click="testCtrl.toggleSelection(question.group,option.answer,$index)"
                    />
                    <label for="{{option.answer | replaceSpaceToUnderscore}}"></label>
                    {{option.answer}}
                  </div>
                   <!-- <pre>{{question.final}}</pre> --> 
                </div>
              </div>
            </div>
            <input type="button" name="previous" class="previous action-button" value="Previous" ng-click="testCtrl.personalInformationForm()"
            />
            <input type="submit" name="submit" class="next action-button" value="Next" ng-click="testCtrl.eatingHabitForm()" />
          </fieldset>
          <fieldset ng-switch-when="Eating Habit">
            <!-- <h2 class="fs-title">Personal Details</h2>
            <h3 class="fs-subtitle">We will never sell it</h3> -->
            <div class="questionSection">
              <div class="questionDiv" ng-repeat="question in testCtrl.riskFactors" ng-if="question.tab == 'Eating Habit'">
                <div class="optionName">{{question.text}}</div>
                <div class="optionsDiv">
                  <div class="options" ng-repeat="option in question.selected" ng-if="question.type == 'radio'">
                    <input type="radio" name="{{question.group}}" ng-value="{{option.answer | replaceSpaceToUnderscore}}" ng-checked="{{option.value}}"
                      ng-click="testCtrl.getRadioValue(question.group,option.answer)" />
                    <label for="{{option.answer | replaceSpaceToUnderscore}}"></label>
                    {{option.answer}}
                  </div>
                  <div class="options" ng-repeat="option in question.selected" ng-if="question.type == 'check'">
                    <input type="checkbox" ng-value="{{option.answer | replaceSpaceToUnderscore}}" ng-model="option['value_' + $index]" ng-click="testCtrl.toggleSelection(question.group,option.answer,$index)"
                    />
                    <label for="{{option.answer | replaceSpaceToUnderscore}}"></label>
                    {{option.answer}}
                  </div>
                  <!-- <pre>{{question.final}}</pre> --> 
                </div>
              </div>
            </div>
            <input type="button" name="previous" class="previous action-button" value="Previous" ng-click="testCtrl.lifeStyleForm()"
            />
            <input type="submit" name="submit" class="next action-button" value="Next" ng-click="testCtrl.symptomsForm()" />
          </fieldset>
          <fieldset ng-switch-when="Symptoms">
            <!-- <h2 class="fs-title">Social Profiles</h2>
            <h3 class="fs-subtitle">Your presence on the social network</h3> -->
            <div class="questionSection">
              <div class="questionDiv" ng-repeat="question in testCtrl.symptoms" ng-if="question.tab == 'Symptoms'">
                <div class="optionName organ-side-nav">
                  <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" ng-class="{ active: testCtrl.isSet(options.answer)}" ng-repeat="options in question.possibilities">
                      <a href="#" ng-click="testCtrl.setTab(options.answer)" >{{options.answer}}</a>
                    </li>
                  </ul>
                </div>
                <div class="symptomsDiv optionsDiv">
                  <div ng-repeat="options in question.selected" ng-if="question.type == 'check'">
                    <div ng-show="testCtrl.isSet(options.answer)" ng-repeat="option in options.symptoms">
                      <div class="options">
                        <input type="checkbox" ng-value="{{option.answer | replaceSpaceToUnderscore}}" ng-disabled="testCtrl.isFemaleGender() && options.answer === 'Prostate'" ng-model="option['value_' + $index]" ng-click="testCtrl.toggleSelection(question.group,options.answer)"
                        />
                        <label for="{{option.answer | replaceSpaceToUnderscore}}"></label>
                        {{option.answer}}
                      </div>
                    </div>
                  </div>
                  <!-- <pre>{{question.final}}</pre> -->
                </div>
              </div>
            </div>
            <input type="button" name="previous" class="previous action-button" value="Previous" ng-click="testCtrl.eatingHabitForm()"
            />

            <a class="btn action-button" ng-click="testCtrl.resultPage()" role="button">Submit</a>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade " id="modal-alert-box">
  <div class="modal-dialog custom-form">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Warning !!!</h4>
      </div>
      <div class="modal-body">
        <div id="alert-message">

        </div>
        <div class="form-group center-button">
          <a class="btn" id='sureButton' ng-click="testCtrl.goToResultPage()" role="button">Yes</a>
          <a class="btn" data-dismiss="modal" aria-hidden="true" role="button">No</a>
        </div>
        </form>

      </div>
    </div>
  </div>
</div>